body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #e5e5e5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

* {
  outline: none;
  cursor: default;
  user-select: none;
  box-sizing: border-box;
}

.section {
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px 10px 150px;
  position: relative;
}

.welcome-page {
  height: 100vh;
}

.welcome-page__title {
  font-weight: 700;
  font-size: 72px;
  padding: 0;
  margin: 0;
}

.welcome-page__subsection {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.welcome-page__subtitle {
  font-weight: 200;
  font-size: 24px;
}

.welcome-page__form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.welcome-page__input {
  background: #e5e5e5;
  color: #282c34;
  font-size: 24px;
  width: 80%;
  height: 42px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #37393d;
  border-right: none;
  padding: 0 10px;
  cursor: text;
}

.welcome-page__error {
  color: #e1675a;
  font-weight: 100;
  font-size: 24px;
  position: absolute;
  bottom: 200px;
}

.welcome-page__button {
  border-radius: 5px;
  height: 40px;
  font-size: 24px;
  font-weight: 400;
  color: #e5e5e5;
  border: none;
  cursor: pointer;
  padding: 5px 12px;
}

.welcome-page__button-accept {
  background: #8fc0a9;
  border-radius: 0 5px 5px 0;
  width: 20%;
  min-width: 125px;
}

.welcome-page__button-noway {
  background: #df2935;
  width: 150px;
}

.welcome-page__button-noway:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.welcome-page__noway_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.nav-bar {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar__welcome-msg {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 20px;
}

.nav-bar__button {
  background: #20232c;
  border-radius: 5px;
  border: 1px solid #1c1f28;
  padding: 5px;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
}

.nav-bar__button:hover {
  background: #52565d;
}

.timer {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.timer__date {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.timer__day {
  font-size: 52px;
  font-weight: 700;
}

.timer__month-and-year {
  display: flex;
  flex-flow: column;
  align-content: space-between;
  margin-left: 5px;
}

.timer__month {
  font-size: 22px;
  font-weight: 600;
}

.time__year {
  font-size: 20px;
  font-weight: 300;
}

.timer__weekday {
  font-size: 22px;
  font-weight: 300;
}

.todo-section__add-form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 5px;
}

.todo-section__input {
  width: 100%;
  background: #20232c;
  border: 1px solid #1c1f28;
  font-size: 24px;
  height: 60px;
  padding: 10px 5px;
  border-radius: 5px 0 0 5px;
  border-right: none;
  color: #e5e5e5;
  transition: border .3s linear;
}

.todo-section__input:focus {
  border: 1px solid #4C4F56;
  border-right: none;
}

.todo-section__input:focus ~ .todo-section__add-button {

  border: 1px solid #4C4F56;
  border-left: none;
}

.todo-section__add-button {
  background: #20232c;
  border: 1px solid #1c1f28;
  border-left: none;
  width: 55px;
  font-size: 24px;
  cursor: pointer;
  transition: border .3s linear;
}

.todo-section__add-button * {
  cursor: pointer;
}

.progressbar {
  width: 100%;
  height: 15px;
  background: #20232c;
  margin: 20px 0 10px;
  border-radius: 5px;
}
