body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
  cursor: default;
  user-select: none;
  box-sizing: border-box;
}

.welcome-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 10px 100px;
}

.welcome-page__title {
  color: #fbfafb;
  font-weight: 700;
  font-size: 72px;
  padding: 0;
  margin: 0;
}

.welcome-page__subsection {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.welcome-page__subtitle {
  color: #fbfafb;
  font-weight: 100;
  font-size: 24px;
}

.welcome-page__form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.welcome-page__input {
  background: #fbfafb;
  color: #282c34;
  font-size: 24px;
  width: 80%;
  height: 42px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #37393d;
  border-right: none;
  padding: 0 10px;
  cursor: text;
}

.welcome-page__error {
  color: #e1675a;
  font-weight: 100;
  font-size: 24px;
  position: absolute;
  bottom: 200px;
}

.welcome-page__button {
  border-radius: 5px;
  height: 40px;
  font-size: 24px;
  font-weight: 400;
  color: #fbfafb;
  border: none;
  cursor: pointer;
  padding: 5px 12px;
}

.welcome-page__button-accept {
  background: #62dca5;
  border-radius: 0 5px 5px 0;
  width: 20%;
}

.welcome-page__button-noway {
  background: #e1675a;
  width: 150px;
}

.welcome-page__noway_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.nav-bar {
  background: #222429;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0;
}